{% extends 'base.html' %}

{% block content %}
<section>
    <div class="talks content row padding-bottom-3 desktop-12 container">
    {% for talk in talk_list.at_morning %}
        <h2>Manhã</h2>

        {% for speaker in talk.speakers.all %}
        {% include 'core/talk_list_snippet.html' with obj=talk only %}
        {% empty %}
        <p>Ainda não existem palestras de manhã</p>
        {% endfor %}

    {% endfor %}

    {% for talk in talk_list.at_afternoon %}
    <h2>Tarde</h2>

        {% for speaker in talk.speakers.all %}
        {% include 'core/talk_list_snippet.html' with obj=talk only %}
        {% empty %}
        <p>Ainda não existem palestras de tarde</p>
        {% endfor %}

    {% endfor %}

</section>

{% endblock content %}